# Environment
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Distribution / packaging
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# macOS
.DS_Store
